*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: aliceblue;
}
nav{
    display: grid;
    height: 3rem;
    width: 100%;
    background-color: grey;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);

}
.nav-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.nav-center h4{
   color: white;
   text-transform: capitalize;
}
.nav-center ul{
   display: flex;
   /* text-decoration: none; */
   list-style-type: none;
   width: 40%;
   justify-content: space-around;
}
.nav-center ul li>a{
    text-decoration: none;
    color: white;
}
.nav-center ul li>a:hover{
    color: green;
}
main{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container{
    padding: 2rem 6rem;
    background-color: rgb(192, 192, 192);
    border-radius: 12px;
}
.btn-hero{
    margin: 1rem;
    padding: 7px 30px;
    border-radius: 6px;
}